.rem button{
    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 40px ;
  text-decoration: none;
  font-size: 19px;
  border-radius: 10px;
  margin-left: 90px;
  margin-top: 30px;
  border: none;
}
#rem1:hover,#rem:hover{
    border: 2px solid red;
    color: white;
    background-color: rgb(44, 40, 40);
}
.rem a{
    text-decoration: none;
}
#rem{
    padding: 10px 65px 10px 65px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(250, 138, 25);
    color:white;
    border: 3px solid  rgb(250, 138, 25);
}
#rem1{
   display: flex;
   flex-direction: row;
   background-color: rgb(251, 208, 34);
   border: 3px solid rgb(251, 208, 34);
}
#cart{
    padding-top: 7px;
}
.fertilizer{
    display: flex;
}
.total{
    border: 2px solid rgb(179, 171, 171);
    margin: 50px;
    padding: 50px 50px 50px 80px;
    background-color:rgb(241, 237, 237);border-radius: 10px;
}
.fert1 img{
    margin-left: 50px;
    margin-top: 30px;
    width:300px;
    height:300px;
}
.fert2 h2{
    margin-top:50px ;
    margin-left: 100px;
    width:750px;
    font-size: 33px;
    color: green;
}
.fert3, .fert4 ,.fert5 {
    display: flex;
    margin-left:100px ;
    margin-top: 30px;
}
.fert3 h3  ,.fert5 p{
 font-size: 26px;
}
.fert3 p{
    font-size: 19px;
    padding: 2px 0px 0px 7px;
    margin-top: 5px;
}

.fert5 h3{
    font-size: 26px;
}
.description ,.benifits ,.method{
    margin: 40px 0px 20px 0px;
}
.description li ,.benifits li , .method li{
    font-size: 19px;
    padding-top: 10px;
    width:1100px
}
#option{
    margin-left: 50px;
    padding: 5px 10px 5px 10px;
    font-size: 19px;
    margin-top: -1px;
}
.fert4 p{
    font-size: 25px;
    padding-left: 2px;
}
.fert4 del{
    margin-left: 30px;
    font-size: 20px;
    margin-top: 5px;
    color: red;
}