.fertilizer{
    display: flex;
}
.total{
    border: 2px solid gray;
    width:1200px;
    margin:110px 0px 150px 140px ;
    padding-top: 50px;
    border-radius: 5px;
}
.fert img{
    width:350px;
    height:350px;
    padding-left: 100px;
    padding-bottom: 50px;
}
.fert1 p{
 font-size: 30px;
 font-weight: bold;
 width: 550px;
 padding-left: 100px;
 padding-top: 40px;
}
.fert2{
    display: flex;
    padding-left: 100px;
    padding-top: 40px;
}
.fert2 p{
    font-size: 29px;
    padding-right: 10px;
}
.fert2 h2{
    color: rgb(254, 50, 50);
    padding-top: 3px;
}
.btn1 button{
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    margin: 60px 0px 0px 100px;
    background-color: rgb(255, 216, 145) ;
    font-weight: bold;
}
.btn1 button:hover , .btn2 button:hover{
    background-color:rgb(24, 24, 24);
    color: red;
    border: 3px solid red;
    font-size:22px ;
    letter-spacing: 1px;
}
.btn2{
    border-top: 3px solid red;
}
.btn2 button{
margin:20px 0px 20px 900px;
padding: 10px 40px 10px 40px ;
font-size:22px ;
border-radius: 5px;
background-color: rgb(253, 222, 164) ;
font-weight: bold;
}