
.delivery{
 border: 2px solid gray;
 width:620px;
 padding: 30px 20px 40px 50px;
 border-radius: 10px;
 background:linear-gradient(-270deg,rgb(191, 249, 232), rgb(248, 248, 222))
}
main{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAk9930AOzowMIzCV_07aGU8gSWsAgO3CDMfF3XMSNVmc-_-wTJ2FreGttgIKfgcHVWuc&usqp=CAU);
    padding: 50px 100px 100px 450px;
}
.delivery h1{
    font-size: 35px;
    padding-left: 140px;
    padding-bottom: 30px;
}
.delivery label{
    font-size: 20px;
}
#full_name{
    width:300px;
    height: 40px;
    margin-left:80px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#mobile {
    width:300px;
    height: 40px;
    margin-left:85px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#door{
    width:300px;
    height: 40px;
    margin-left:35px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#pincode{
    width:300px;
    height: 40px;
    margin-left:104px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#state{
    width:300px;
    height: 40px;
    margin-left:175px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#district{
    width:300px;
    height: 40px;
    margin-left:155px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
}
.radio{
    display:flex;
    padding: 30px 100px 20px 220px;
    justify-content: space-around;
}
.radio label{
    font-size: 18px;
}
.rad1{
    padding: 5px 10px 10px 10px;
}
.btn11 {
   padding:10px 30px 10px 30px;
   font-size: 18px;
   border-radius: 5px;
   margin: 20px 30px 5px 20px ;
   background:linear-gradient(rgb(13, 13, 13),rgb(49, 191, 174));
   color: white;
}
.btn22{
    padding:10px 40px 10px 40px;
   font-size: 18px;
   border-radius: 5px;
   margin: 20px 20px 5px 50px ;
   background:linear-gradient(rgb(13, 13, 13),rgb(49, 191, 174));
   color: white;
}
.btn11:hover ,.btn22:hover{
    background:linear-gradient(black,rgb(255, 0, 68));
    color: rgb(249, 244, 244);
    border: 2px solid  rgb(242, 43, 43);
    font-size: 21px;
    transform: scale(1..25);
}