.today a{
    text-decoration: none;
    color: black;
}
.insecticide h1{
    font-size: 30px;
    margin-left: 580px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.offers1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px 50px 20px 90px;
}
.checked {
    color: orange;
    margin-bottom: 10px;
    padding-left: 5px;
  }
  .today{
    width:350px;
    height:520px;
    background-color: rgb(224, 223, 223);
    margin-left: 60px;
    padding: 30px 0px 60px 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(71, 68, 68);
  }
  .today img{
    width:250px;
    height:270px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
.star{
    margin-left: 40px;
    margin-top: 10px;
}
.price{
    display:flex;
    margin-left: 60px;
}
.price del{
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 12px;
}
.today h3{
    margin-left: 50px;
    font-size: 23px;
    padding-bottom: 30px;
}
.today p{
    width:210px;
    padding-top: 5px;
    font-size: 18px;
    padding-left: 8px;
    padding-bottom: 10px;
    font-weight: bold; 
    text-align: center;
    text-indent: 10px;
  }
  .offers1 img:hover ,.today:hover{
    transform: scale(1.1);
    transition-delay: .1s;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px gray;
}
.insecticide{
    padding-bottom: 60px;
}