#password{
    width:220px;
    height: 40px;
    margin-left:45px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#password1{
    width:220px;
    height: 40px;
    margin-left:15px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 60px;
}
h2{
    padding-left: 110px;
   padding-bottom: 60px;
   margin-top: 20px;
   font-size: 32px;
}
.btn button{
    border-radius: 10px;
    border: 2px solid rgb(14, 37, 14);
    font-size: 20px;
    font-weight: bold;
    background:linear-gradient(rgb(13, 13, 13),rgb(49, 191, 174));
    margin-left: 130px;letter-spacing: 1px;
    color:white;
}
button{
    padding:15px 50px;
}
.details{
    border: 2px solid rgb(44, 169, 154);
    width:450px;
    padding-left: 30px;
    padding-top: 20px;
    background: linear-gradient(-90deg,rgb(229, 255, 198),rgb(212, 255, 242)) ;
    border-radius: 10px;
    padding-bottom: 50px;
}
label {
    font-size: 21px;
}
button:hover{
    background:linear-gradient(black,rgb(255, 0, 68));
    color: white;
    font-weight: bold;
    border: 2px solid rgb(202, 9, 9);
    font-size: 20px;
}
main{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAk9930AOzowMIzCV_07aGU8gSWsAgO3CDMfF3XMSNVmc-_-wTJ2FreGttgIKfgcHVWuc&usqp=CAU);
     padding-left: 510px;
     padding-top: 170px;
     padding-bottom: 251px;
 }
 