.bg_img{
    background-image: url(../../pages/homepage/backgroung.png);
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hole {
    background-color: rgb(234, 227, 227); 
    background-color: rgba(255, 248, 248, 0.806); 
    color: rgb(255, 0, 93);
    font-weight: bold;
    border: 3px solid #ff0066;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    border-radius: 20px;
  }