*{
	margin:0px;
	padding: 0px;
}
body{
font-family: "Unna";
}
.header__logo{
    width: 220px;
    height: 72px;
    padding: 10px 5px 5px 5px;
    padding-left: 40px;
}
.header{
    display: flex;
    background-color:rgba(254, 239, 186, 0.747);
    background: linear-gradient(rgba(241, 220, 143, 0.747),rgba(255, 239, 182, 0.747),rgba(242, 216, 120, 0.747)) ;
}
.hero{
    display: flex;
    margin-left: 400px;
    margin-top: 30px;
}
.hero_list a{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(24, 23, 23);
    letter-spacing: 1px;
    margin-left: 50px;
    margin-right: 20px;
}
.hero_list a:hover{
    color: rgb(251, 255, 239);
    background-color: rgb(45, 45, 45);
    border-radius: 13px;
    border: 2px solid rgb(255, 1, 1);
}
.hero_list{
    list-style: none;
    margin-top: 10px;
}
.img1{
     margin-top: 1px;
     background-color: aliceblue;
     border-radius: 50%;
     margin-left: 70px;
     margin-right: 10px;
}
