.img{
    display: flex;
    padding: 60px 10px 50px 35px;
}
.img img{
    width:330px;
    height: 400px;
    margin-left: 20px;
    box-shadow: 0px 6px 15px 0px black;
}
.fert{
    display: flex;
    padding: 50px 0px 55px 20px;

}
.fert img{
    width:500px;
    height: 500px;
   margin-left: 150px;
   box-shadow: 0px 6px 15px 0px black;
}
.fert img:hover ,.img img:hover {
   transform: scale(1.05);
}
.nutri img{
    width: 700px;
    height:500px;
    margin: 50px 0px 100px 27px;
    box-shadow: 0px 6px 15px 0px black;
}
.nutri img:hover{
    transform: scale(1.02);
 }