body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAk9930AOzowMIzCV_07aGU8gSWsAgO3CDMfF3XMSNVmc-_-wTJ2FreGttgIKfgcHVWuc&usqp=CAU);
    padding: 80px 100px 100px 410px;
}
.details{
    border: 2px solid rgb(22, 30, 36);
    width:630px;
    padding-left: 50px;
    padding-top: 20px;
    background: linear-gradient(-90deg,rgb(213, 254, 163),rgb(187, 255, 235)) ;
    border-radius: 10px;
    padding-bottom: 50px;
}
h2{
   padding-left: 130px;
   padding-bottom: 30px;
   margin-top: 20px;
   font-size: 32px;
}
.hero_list ul li:hover{
background-color: rgb(8, 154, 8);
border-radius: 4px;
}
label {
    font-size: 21px;
}
h4{
    font-size: 21px;
}
h3{
    font-size: 24px;
}
button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid rgb(14, 14, 14);
    font-size: 21px;
    font-weight: bold;
    background:linear-gradient(rgb(13, 13, 13),rgb(49, 191, 174));
    color: white;
}
.btn1{
    margin-left: 230px;
}
button:hover{
    background:linear-gradient(black,rgb(255, 0, 68));
    border-radius: 13px;
    border: 2px solid rgba(255, 1, 65, 0.705);
    color:white;
    font-size: 22px;
    transform: scale(1.1);
}
#mobile{
    width:300px;
    height: 40px;
    margin-left: 135px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#email{
    width:300px;
    height: 40px;
    margin-left:150px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#full_name{
    width:300px;
    height: 40px;
    margin-left:85px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
}
#password{
    width:300px;
    height: 40px;
    margin-left:155px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#password1{
    width:300px;
    height: 40px;
    margin-left:110px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 50px;
}
#pincode{
    width:300px;
    height: 40px;
    margin-left:150px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#state{
    width:300px;
    height: 40px;
    margin-left:225px ;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#district{
    width:300px;
    height: 40px;
    margin-left:205px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#gstin{
    width:300px;
    height: 40px;
    margin-left:57px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#business_name{
    width:300px;
    height: 40px;
    margin-left:135px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#pan{
    width:300px;
    height: 40px;
    margin-left:55px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#business_type{
    width:300px;
    height: 40px;
    margin-left:143px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#account_holder_name{
    width:300px;
    height: 40px;
    margin-left:73px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#account_number{
    width:300px;
    height: 40px;
    margin-left:17px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#IFSC_code{
    width:300px;
    height: 40px;
    margin-left:72px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#branch_name{
    width:300px;
    height: 40px;
    margin-left:95px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#city{
    width:300px;
    height: 40px;
    margin-left:175px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#state1{
    width:300px;
    height: 40px;
    margin-left:175px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 10px; margin-bottom: 20px;
}
