#mobile{
    width:250px;
    height: 40px;
    margin-left: 45px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#email{
    width:250px;
    height: 40px;
    margin-left:60px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#password{
    width:250px;
    height: 40px;
    margin-left:100px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
.details{
    border: 2px solid rgb(234, 235, 235);
    width:480px;
    padding-left: 40px;
    padding-top: 20px;
    background: linear-gradient(-90deg,rgb(213, 254, 163),rgb(187, 255, 235)) ;
    border-radius: 10px;
    padding-bottom: 50px;
    box-shadow: 0px 6px 14px 0px  rgb(33, 52, 52) ;
}
button{
    padding: 17px 90px 17px 90px;
    border-radius: 10px;
    border: 2px solid rgb(35, 34, 34);
    font-weight: bold;
    color: white;
     background:  linear-gradient(rgb(13, 13, 13),rgb(49, 191, 174));
    letter-spacing: 1px;
}
button:hover{
    background:linear-gradient(black,rgb(255, 0, 68));
    color: rgb(254, 244, 244);
    border: 2px solid rgb(37, 34, 34);
    font-size: 22px;
}
h4{
    font-size: 21px;
    padding-left: 230px;
    margin-top: -5px;
    margin-bottom: -5px;
}
h4 a{
    text-decoration: none;
}
label {
    font-size: 21px;
}
h2{
    padding-left: 140px;
   padding-bottom: 50px;
   margin-top: 20px;
   font-size: 32px;
}
.btn{
    margin-left: 110px;
    font-size: 20px;
}
main{
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAk9930AOzowMIzCV_07aGU8gSWsAgO3CDMfF3XMSNVmc-_-wTJ2FreGttgIKfgcHVWuc&usqp=CAU);
    padding-left: 480px;
    padding-top: 170px;
    padding-bottom: 193px;
}