*{
	margin:0px;
	padding: 0px;
}
body{
    font-family: "Unna";
    }
.header__logo{
    width: 220px;
    height: 72px;
    padding: 10px 5px 2px 5px;
    padding-left: 50px;
}
.header{
    display:flex;
    background-color:rgb(255, 255, 255);
    background-size: contain;
    border-bottom: 8px solid rgb(55, 105, 18);
}
.hero{
    display: flex;
    margin-left: 700px;
    margin-top: 20px;
}
.hero_list a{
   padding: 10px 40px 10px 40px;
    text-decoration: none;
    height:50px;
    width:120px;
    font-size: 22px;
    font-weight: bold;
    margin:20px 100px 20px 10px;
    color: rgb(19, 19, 59);
}
.hero_list{
    list-style: none;
    margin-top: 15px;
}
.fert_back ,.fert{
    margin: 90px 0px 0px 165px;
}
.fert_back img{
    width:1150px ;
    height:600px;
}

.hero_list a:hover{
    background-color: rgb(71, 73, 71);
     border: 3px solid rgb(243, 15, 15);
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 10px;
}
.quoat{
    margin-top: -500px;
    margin-bottom: 360px;
    padding-left: 50px;
}
.quoat h2 {
  font-size: 68px;
  font-style: italic;
  font-weight: normal;
  font-family: 'Merienda One';
}
.quoat p{
    font-size: 35px;
    font-weight: bold;
    width: 400px;
    color: rgb(13, 39, 65);
    line-height: 40px;
    font-family: 'Merienda One';
    padding-top: 10px;  line-height: 52px;
}
.fert img{
    width:1150px ;
    height:620px;
}
.quoats p
{
    font-size: 39px;
    font-weight: bold;
    width: 460px;
    color: rgb(61, 57, 57);
    line-height: 40px;
    padding-top: 10px;
    margin-left: 60px;
    font-family: 'Merienda One'; color: rgb(0, 0, 0);
    line-height: 52px;
}
.quoats h2{
    font-size: 76px;
    font-style: italic;
    font-weight: normal;
    margin-left: 70px;
    font-family: 'Merienda One';
}
.quoats{
    margin-top: -480px;
    margin-bottom: 330px;
    padding-left: 10px;
}
.fab{
    border:2px solid rgb(249, 249, 249);
    background-color: rgb(249, 249, 249) ;
    width:1150px;
    margin: 90px 0px 100px 165px;
    padding-bottom: 50px;
    padding-top: 20px;
}
.human{
    display: flex;
}
.details{
 background-color: rgb(232, 232, 232);
 margin: 10px 25px 5px 25px;
 padding: 20px 17px 20px 17px;
   
}
.details img {
    width:300px;
    height:200px;
}
.details h2{
    font-size: 27px;
    padding: 15px 0px 8px 0px;
    color:rgb(16, 16, 81);
}
 .trai{
    width:50%;
    border-bottom:5px solid rgb(177, 62, 20);
    margin-bottom: 25px;
    margin-top: 10px;
 }
.details p{
   font-size: 19px;
   color:rgb(16, 16, 81);
   width: 300px;
}
.fab h1{
    font-size: 42px;
    padding-left: 420px;
}
