
.fertilizer{
background-color: rgb(221, 249, 247);
background-repeat: no-repeat;
background-attachment: fixed;
margin-top: -21px;

}
h1{
    padding-left: 460px;
    padding-top: 50px;
    font-size: 55px;
}
.agri{
    display: flex;
    margin-bottom: 160px;
    margin-left: 35px;
}
.agriculture{
    margin-top: 100px;
    padding-left: 50px;
    padding-bottom: 30px;
}
.agri_type img{
    border-radius: 50%;
    width:390px;
    height:370px;
    border: 2px solid green;
}
.agri_type img:hover {
    transform: scale(1.1);
}
.agri_type button:hover{
    transform: scale(1.1);
    background:linear-gradient(rgb(9, 9, 9),rgb(224, 46, 82));
}
.btn10{
    margin-left: 60px;
    padding: 16px 35px ;
    color:white;
    background:linear-gradient(rgb(9, 9, 172),rgb(202, 196, 127));
    border-radius: 10px;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .5px;
}
.btn11{
    margin-left: 72px;
    padding: 16px 35px ;
    color:white;
    background:linear-gradient(rgb(9, 9, 172),rgb(202, 196, 127));
    border-radius: 10px;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold; letter-spacing: .5px;
}
.btn2{
    margin-left: 78px;
    padding: 16px 35px ;
    color:white;
    background:linear-gradient(rgb(9, 9, 172),rgb(202, 196, 127));
    border-radius: 10px;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold; letter-spacing: .5px;
}