
#mobile{
    width:300px;
    height: 40px;
    margin-left: 75px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#email{
    width:300px;
    height: 40px;
    margin-left:90px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#full_name{
    width:300px;
    height: 40px;
    margin-left:25px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
}
#password{
    width:300px;
    height: 40px;
    margin-left:95px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#password1{
    width:300px;
    height: 40px;
    margin-left:50px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 40px;
}
h4{
    font-size: 21px;
}
label {
    font-size: 21px;
}
h2{
    padding-left: 150px;
   padding-bottom: 20px;
   margin-top: 20px;
   font-size: 32px;
}
.btn{
    margin-left: 180px;
    font-size: 20px;
}
button{
    padding: 15px 50px 15px 50px;
    border-radius: 8px;
    border: 2px solid rgb(2, 135, 2);
    font-weight: bold;
    background:linear-gradient(rgb(13, 13, 13),rgb(49, 191, 174));
    letter-spacing: 1px;
    color:white;
}
.details{
    border: 2px solid rgb(44, 169, 154);
    width:550px;
    padding-left: 32px;
    padding-top: 20px;
    background: linear-gradient(-90deg,rgb(229, 255, 198),rgb(212, 255, 242)) ;
    border-radius: 10px;
    padding-bottom: 20px;
}
button:hover{
    background:linear-gradient(black,rgb(255, 0, 68));
    color: white;
    font-weight: bold;
    border: 2px solid rgb(202, 9, 9);
    font-size: 19px;
}
main{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAk9930AOzowMIzCV_07aGU8gSWsAgO3CDMfF3XMSNVmc-_-wTJ2FreGttgIKfgcHVWuc&usqp=CAU);
     padding-left: 460px;
     padding-top: 90px;
     padding-bottom: 110px;
 }