
.fertilizer{
    background-image: url(../images/sell_back.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}
.fertilizer h1{
    padding-left: 430px;
    padding-top: 50px;
    margin-top: 0px;
    font-size: 36px;
    color:rgb(176, 10, 49)
}
.agri{
    display: flex;
    margin-bottom: 160px;
    margin-left: 35px;
}
.agriculture{
    margin-top: 100px;
    padding-left: 50px;
    padding-bottom: 30px;
}
.agri_type img{
    border-radius: 50%;
    width:390px;
    height:370px;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold; letter-spacing: .5px;
    box-shadow: 0px 7px 15px  0px rgb(0, 0, 0);
}
.agri_type img:hover {
    transform: scale(1.02);
}
.agri_type button:hover{
    background:linear-gradient(rgb(9, 9, 9),rgb(224, 46, 82));
    transform: scale(1.02);
}
.btn10{
    margin-left: 60px;
    padding: 16px 35px ;
    color:white;
    background:linear-gradient(rgb(4, 4, 62),rgb(6, 14, 88));
    border-radius: 10px;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .5px;
}
.btn11{
    margin-left: 72px;
    padding: 16px 35px ;
    color:white;
    background:linear-gradient(rgb(6, 6, 63),rgb(8, 13, 63));
    border-radius: 10px;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold; letter-spacing: .5px;
}
.btn2{
    margin-left: 73px;
    padding: 16px 35px ;
    color:white;
    background:linear-gradient(rgb(12, 12, 56),rgb(8, 12, 54));
    border-radius: 10px;
    margin-top: 25px;
    font-size: 19px;
    font-weight: bold; letter-spacing: .5px;
}