body{
    background-image: url(../images/background.webp);
    padding: 70px 100px 10px 480px;
    background-size: cover;
}
*{
    font-family: 'Lora', serif;
     }
.details{
        border: 2px solid rgb(22, 30, 36);
        width:580px;
        padding-left: 50px;
        padding-top: 20px;
        background:url(../images/screen.jpg);
        border-radius: 10px;
        padding-bottom: 50px;
}
.details label,.details h3{
    color:white;
    font-weight:  bold;
  }
label{
    font-size: 21px;
}
h3{
    font-size: 30px;
    margin-left:7.5rem;
}
.details input{
    border: none;
    background:none;
    border-bottom: 2px solid white;
    color:white
}
input:focus-visible{
    outline: none;
}

button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: bold;
    background:linear-gradient(rgb(20, 20, 20),rgb(49, 191, 174));
    color: white;
}
.btn1{
    margin-left: 200px;
}
button:hover{
    background:linear-gradient(black,rgb(255, 0, 68));
    border-radius: 13px;
    color:white;
    font-size: 22px;
    transform: scale(1.1);
    border: 2px solid red;
}

#account_holder_name{
    width:250px;
    height: 35px;
    margin-left:40px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#account_number{
    width:250px;
    height: 35px;
    margin-left:33px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#IFSC_code{
    width:250px;
    height: 35px;
    margin-left:100px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#branch_name{
    width:250px;
    height: 35px;
    margin-left:120px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#city{
    width:250px;
    height: 35px;
    margin-left:150px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#state1{
    width:250px;
    height: 35px;
    margin-left:140px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 10px; margin-bottom: 20px;
}
