* {
    box-sizing: border-box;
  }
input{
    font-size: 16px;
}
.delivery{
    background-color: rgb(246, 245, 245);
    box-shadow: 0px 5px 13px 0px gray;
    margin: 30px 50px 100px 200px;
    padding: 50px;
    width:1070px;
}
.first_last{
    display: flex;
    margin-left: 200px;
}
.del_address1{
    display: flex;
    margin-left: 100px;
}
.city_zip{
    display: flex;
   justify-content: space-around;
   margin: 50px 150px 0px 150px;
}
.payment{
    display: flex;
}
.button{
    display: flex;
    margin-left: 60px;
    margin-top: 80px;
}
label{
    display: block;
    margin-top: 20px;
    color: rgb(0, 0, 99);
    font-weight: bold;
}
.delivery h1{
    margin-left: 350px;
}
.contact11 h3 ,.del_address h3 ,.pay_met h3{
    margin-top: 30px;
    margin-left: 20px;
}
#first_name {
    width:250px;
    height:40px;
    padding: 5px 10px;
    margin-top: 10px;
}
#last_name {
    width:250px;
    height:40px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 20px;
}
#mobile{
    width:250px;
    height:40px;
    padding: 5px 10px;
    margin-top: 10px;
}
#email{
    width:250px;
    height:40px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 50px;
}
#full ,#full1{
    margin-left: 200px;
}
.img img{
    width:200px;
    height:120px;
}
.img{
 
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 40px;
   background-color: white;
}
.img p{
    margin-left: 70px;
}
.city_zip1{
    margin-left: 100px;
}
.city_zip1 label{
    margin-bottom: 20px;
}
#city ,#address ,#zip{
    width:200px;
    height:40px;
    padding: 5px 10px;
    margin-bottom: 50px;
}
.pay_met img{
    width: 180px;
    height: 120px;
    border: 2px solid rgb(136, 203, 255);
    padding: 5px;
    margin-left: 100px;
    margin-top: 40px;
}
.button button{
 padding: 10px 40px;
 margin-left: 150px;
 background-color: rgb(6, 6, 36);
 color: white;
 font-size: 18px;
 border-radius: 3px;
}
.button button:hover{
    background: linear-gradient(rgb(10, 2, 114),rgb(14, 3, 99));
    border: 2px solid rgb(30, 1, 104);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/* .delivery input{
    border: 3px solid rgb(155, 155, 155);
} */

/* ---------------dleivery address---------- */
#address{
    width:300px;
    height:150px;
    font-size: 18px;
    padding: 10px;
    resize: none;
    margin-top: 10px;
}

.img.selected {
    border: 3px solid blue;
  }
  .error-field {
    border: 2px solid red;
  }
  
  
  