.footer{
	display: flex;
}
.bottom{
	display: flex;
}
.social img{
	width:52px;
	height:50px;
}
#contact{
	background: linear-gradient(rgb(197, 140, 19) ,rgb(248, 206, 144),rgb(197, 140, 19));
	padding: 10px 100px 20px 30px;
	box-shadow: 10px 5px 10px 0px rgb(0, 0, 0);
}
#contact h1{
	margin:30px 0px 20px 520px;
	font-size: 42px;
	color:rgb(22, 72, 12);
	font-style: italic;
}
.icon img{
    width:450px;
	height:170px;
}
.abt{
	margin-left: 750px;
	margin-top: 40px;
}
.abt a{
	text-decoration: none;
}
.abt a h2 {
	margin-bottom: 50px;
	font-size: 25px;
}
.bottom{
	border-top: 6px solid rgb(139, 17, 49);
	width:105%;
	padding: 20px 50px 20px 190px;
}
.cont p{
	font-size: 29px;
	font-weight: bold;
	color: rgb(8, 8, 67);
	font-weight: bold;
}
.social{
 margin-left: 420px;
}
.social a img{
	width:40px;
	height:40px;
	border-radius: 50%;
	margin-right: 40px;
	background-color: white;
}