.about111{
    display: flex;
    justify-content: space-around;
}
*
{
    font-family: 'Source Serif 4', serif;
}
.social img{
    width: 70px;
    height: 70px;
    margin-left: -1px;
}
.footer1{
    background-color: rgb(255, 195, 66);
}
.img101 img{
    width:300px;
    height: 110px;
    cursor: pointer;
}
.img101{
    background:linear-gradient(rgb(244, 185, 76), rgb(255, 210, 125),rgb(249, 188, 74));
    padding: 10px 0px 5px 550px;
}

.social{
    margin-left: 570px;
   }
   .social a img{
       width:50px;
       height:50px;
       border-radius: 50%;
       margin-right: 40px;
       background-color: white;
   }
   .cont p{
	font-size: 23px;
	font-weight: bold;
	color: rgb(8, 8, 67);
    margin-top: .8rem;
}
.quick a{
   color:rgb(77, 76, 76);
   text-decoration: none;
   font-weight: bold;
   font-size: 16px;
}
.quick a:hover{
	color:rgb(255, 0, 85);
}
.quick p{
	margin-top: .7rem;
}
.quick h2{
    font-size: 22px;
    color:rgb(14, 14, 112)
}
.quick{
    width:15rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.bottom{
    background:linear-gradient(rgb(239, 177, 63), rgb(255, 210, 125),rgb(252, 191, 78));
    padding: 25px 0px 15px 100px;
    border-top: 6px solid rgb(167, 48, 80);
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
}
.rboomi{
	margin-top: .5rem;
}
.rboomi p{
   color:rgb(74, 74, 74);
   font-weight: bold;
   font-size: 17px;
}