#password{
    width:220px;
    height: 40px;
    margin-left:50px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
*{
    font-family: 'Lora', serif;
}
#password1{
    width:220px;
    height: 40px;
    margin-left:15px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 60px;
}
h2{
    padding-left: 110px;
   padding-bottom: 60px;
   margin-top: 20px;
   font-size: 32px;
}
.btn button{
    border-radius: 10px;
    border: 2px solid rgb(14, 37, 14);
    font-size: 20px;
    font-weight: bold;
    background:linear-gradient(rgb(13, 13, 13),rgb(49, 191, 174));
    margin-left: 130px;letter-spacing: 1px;
    color:white;
}
button{
    padding:15px 50px;
}
.details{
    border: 1px solid rgb(0, 0, 0);
    width:460px;
    padding-left: 30px;
    padding-top: 20px;
    background:url(../images/screen.jpg);
    border-radius: 10px;
    padding-bottom: 50px;
    box-shadow: 0px 7px 17px 0px black;
    color:white
}
label {
    font-size: 21px;
}
button:hover{
    background:linear-gradient(black,rgb(255, 0, 68));
    color: white;
    font-weight: bold;
    font-size: 20px;
    border:2px solid red
}
main{
    background-image: url(../images/background.webp);
     padding-left: 510px;
     padding-top: 170px;
     padding-bottom: 251px;
     height:29.4rem;
     background-repeat: no-repeat;
     background-size: cover;
 }
 form input{
    border: none;
    background:none;
    border-bottom: 2px solid white;
    color:white
}
input:focus-visible{
    outline: none;
}