main{
    background-color: rgb(223, 225, 217);
    background-size: cover;
}
#product_name{
    width:350px;
    height: 45px;
    margin-left:50px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;margin-top: 60px;
}
label{
    font-size: 25px;
    font-weight: bold;
    margin-left: 200px;
}
.btn111{
    display: flex;
    margin-left: 1000px;
}
.cancel11 button{
    padding: 12px 40px 12px 40px;
    border-radius: 10px;
    font-size: 19px;
    background-color: rgb(245, 222, 193);
}
.save111 button{
    padding: 12px 45px 12px 45px;
    border-radius: 10px;
    margin-left: 80px;
    font-size: 19px;
    background-color: rgb(245, 222, 193);
}
.img11 p{
    border: 1px solid rgb(18, 18, 18);
    width:200px;
    height: 150px;
    padding: 200px 70px 50px 100px;
    margin-left: 400px;
    font-size: 20px;
    color: rgb(201, 195, 195);
    border-radius: 15px;
    background-color: rgb(241, 241, 241);
}
.upload11 button{
    margin-top: 10px;
    padding: 12px 40px 18px 40px;
    border-radius: 10px;
    font-size: 19px;
    margin-left: 495px;
    margin-bottom: 120px;
    background-color: rgb(12, 14, 75);
    color:white;
    font-weight: bold;
}
.upload11 button:hover ,.save111 button:hover ,.cancel11 button:hover{
    background-color: rgb(40, 40, 39);
    border-radius: 14px;
    border:2px solid rgb(250, 6, 6);
    color: rgb(255, 253, 253);
}
.bg-img{
    filter: blur(8px);
}
.fa-upload{
    padding-right:1rem;
}

