main{
    background-color: rgb(255, 255, 255);
    background-size: cover;
  
    justify-content: center;
    align-items: center;
    height:100vh;
}

.pro_name label{
    font-size: 19px;
    font-weight: bold;
    margin-right: 30px;
}
#product_name{
    width:300px;
    padding: 8px 10px;
    font-size: 18px;
}
.up_img{
    display: flex;
    border:3px dashed black;
    width:405px;
    height: 380px;
    margin-left: 250px;
   
    margin-top: 100px;
}
.up_img img{
    width:405px;
    height:380px;
    display:inline-block;
}

.uploaded{
    margin-left: 370px;
    margin-top: 30px;
    margin-bottom: 50px;
}
#uploaded{
 opacity: 0;
padding: 200px  0px 100px 100px ;
margin-left: -400px;
    
}
.uploaded button{
    width:180px;
    padding-bottom: 0px;
    padding-top: 15px;
    height:55px;
    border-radius: 10px;
    color:white;
    background-color: rgb(10, 10, 49);
}
.uploaded button:hover{
    background: linear-gradient(black, rgb(255, 0, 76));
    border:2px solid red
}
.uploaded input{
    margin-top: -30px;
}
.product1{
    display: flex;
}
.save_edit{
   margin-left: 220px;
}
.save_edit button{
    margin-left: 60px;
    padding: 10px 60px;
    margin-bottom: 100px;
    background-color: rgb(8, 8, 54);
    color:white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 100px;
    border: none;
}
.save_edit button:hover{
    background-color: rgb(5, 5, 135);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.pro_name{
    padding: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-left: 50px;
    margin-top:100px;
}
#option{
    width:300px;
    padding: 8px 10px;
    font-size: 18px;
    margin-left: 5px;
}
#skuid{
    width:300px;
    padding: 8px 10px;
    font-size: 18px;
    margin-left: 12px;
}
.seller_select{
    margin-top: 20px;
    margin-bottom: 20px;
}