main{
    background-color: rgb(255, 255, 255);
    background-size: cover;
}
.pro_name{
    background: white;
    box-shadow: 0px 4px 10px 0px gray;
    padding: 50px 0px 30px 250px;
    margin-bottom: 20px;
}
.pro_name label{
    font-size: 19px;
    font-weight: bold;
    margin-right: 30px;
}
#product_name{
    width:300px;
    padding: 8px 10px;
}
.pro_name button{
    margin-left: 50px;
    padding: .6rem 3rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(3, 21, 58);
    color: white;
    font-size: 18px;
}
.pro_name button:hover{
    background: linear-gradient(black,red);
}
.up_img{
    border:3px dashed black;
    width:405px;
    height: 380px;
    margin-left: 250px;
    box-shadow: 0px 5px 12px 0px gray;
    margin-top: 50px;
}
.up_img img{
    width:405px;
    height:380px;
}
#uploaded{
    margin-left: 370px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.product1{
    display: flex;
}
.back_view img ,.front_view img{
    width: 150px ;
    height: 150px;
}
.back_view ,.front_view {
    height:180px;
    border: 2px dashed black;
    margin: 150px 60px 100px 70px;
}
.back_view p ,.front_view p{
margin-top: -10px;
margin-left: 35px;
font-weight: bold;
}
.save_edit{
   margin-left: 220px;
}
.save_edit button{
    margin-left: 60px;
    padding: 10px 50px;
    margin-bottom: 100px;
    background-color: rgb(8, 8, 54);
    color:white;
    font-weight: bold;
    border-radius: 10px;
}
.save_edit button:hover{
    background: linear-gradient(black, rgb(255, 0, 76));
    border:2px solid red
}