.insecticide h1{
    font-size: 30px;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.offers1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px 50px 20px 90px;
}
.checked {
    color: orange;
    margin-bottom: 10px;
    padding-left: 6px;
  }
  .today{
    width:350px;
    height:560px;
    background-color: rgb(235, 235, 235);
    margin-left: 60px;
    padding: 30px 0px 60px 50px;
    margin-bottom: 50px;
    border-radius: 8px;
  }
  .today img{
    width:250px;
    height:270px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
  }
.star{
    margin-left: 40px;
    margin-top: 10px;
}
.price{
    display:flex;
    margin-left: 70px;
}
.price del{
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 12px;
}
.today h3{
    margin-left: 50px;
    font-size: 23px;
    padding-bottom: 30px;
}
.today p{
    width:210px;
    padding-top: 5px;
    font-size: 18px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-weight:bolder; 
    text-align: center;
    text-indent: 10px;
  }
  .offers1 img:hover {
    transform: scale(1.03);
    transition-delay: .1s;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(168, 168, 168);
}
.insecticide{
    padding-bottom: 60px;
}
.offers1 a{
    text-decoration: none;
    color: black;
}
/*------UPL CSS File-----*/
.insecticide .upl{
    margin-left: 600px;
}

/*----- TATA Raills----*/
.insecticide .tata{
    margin-left: 520px;
}
/*----adama gils---*/
.insecticide .adama{
    margin-left: 410px;
}
/*----Bio Nematicides---*/
.insecticide .bayer{
    margin-left: 630px;
}

/*----nimeticcides---*/
.insecticide .nematic{
    margin-left: 540px;
}
/*-----viricides---*/
.insecticide .viri{
    margin-left: 450px;
}
/*----growth promoters---*/
.insecticide .promoter{
    margin-left: 600px;
}
/*----retardance---*/
.insecticide .retar{
    margin-left: 600px;
}
/*----organic fertilizer---*/
.insecticide .org{
    margin-left: 610px;
}
/*-----secondary_nutrients---*/
.insecticide .nutri{
    margin-left: 27rem;
}