table {
    border: 2px solid   rgb(218, 218, 218);
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width:1300px;
}
 th{
    border: 2px solid   rgb(216, 216, 216);
    border-collapse: collapse;
   
}
main{
    padding: 50px 0px 100px 100px;
    background-color: rgb(235, 235, 235);
    height: 1000px;
}
main table caption{
    font-size: 20px;
    padding-bottom: 20px;
    color:rgb(0, 0, 0);
  }
.thread{
    padding: 15px 50px;
    font-size: 20.5px;
  background-color: rgb(12, 73, 164);
    color: white;
    
}
tr{
    border-bottom: 2px solid  rgb(14, 21, 56) ;
}
td img{
    width:180px;
    height:170px;
   
    margin: 20px 0px ;
    
}
td img:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#status{
    width:200px;
    padding: 50px 70px;
}
td{
    background-color: rgb(250, 249, 238);
    text-align: center;

}
.td{
   
    font-size: 22px;
    font-weight: bold;
    color: rgb(3, 3, 3);
}
.td1{
   
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);   
}
.td2{
    font-size: 22px;
   
    font-weight: bold;
    color: rgb(0, 0, 0);  
}
