main{
    background-color: rgb(180, 181, 181);
    background-size: cover;
    padding: 50px 100px 50px 100px;
}
.details1{
    display: flex;
    
}
.dactail{
    background-color: rgb(229, 229, 223);
    padding: 50px 80px;
}
h2{
    display: flex;
    color:rgb(87, 17, 17);
}
.del1{
    margin-left: 200px;
    margin-top: 50px;
}
.del{
    margin-left: 50px;
    margin-top: 50px;
}
.del p{
    font-weight: normal;
    margin-left: 20px;
    margin-top: 3px;
    color:rgb(212, 14, 77);
    font-size: 21px;
}
.del1 p{
    font-weight: normal;
    margin-left: 20px;
    margin-top: 0px;
    color:rgb(212, 14, 77);
    font-size: 21px;
}
.details1 h1{
    margin-top: 50px;
}
.herbicide{
    display: flex;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 5px solid rgb(30, 30, 78);
}
.herbicide img{
    margin-left: 100px;
}
.herbicide img:hover{
    transform: scale(1.1);
}
.herbicide p{
    margin: 150px 0px 0px 150px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(15, 16, 82);
}
.about{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 30px 0px 30px;
    border-bottom: 5px solid rgb(13, 13, 47);
}
.about p{
    font-size: 20px;
    color: rgb(95, 10, 10);
}
.fa-arrow-circle-left{
    margin: 20px 0px 20px 50px ;
}
#h1{
    margin-left: 400px;
    font-size: 40px;
    color:rgb(26, 68, 54)
}