.fert10{
    background-color: white;
    box-shadow: 0px 6px 14px 0px rgb(80, 79, 79);
    display: flex;
    padding: 60px 60px 60px 80px;
}
main{
    padding: 80px 170px 100px 170px;
}
.fert12 img{
    width:320px;
    height: 320px;
    margin-top: 80px;
}
.fert13,.fert15 ,.fert16 ,.fert5 ,.fert116{
    display: flex;
    margin-top: 20px;
}
.fert01 h2{
    font-size: 30px;
    color:rgb(7, 83, 7)
}
.fert13 h3{
    font-size: 25px;
}
.fert13 p{
    font-size: 20px;
    margin-top: 3px;
    margin-left: 5px;
}
.fert14 p{
    font-size: 22px;
    margin-top: 20px;
}
.fert5 h3 ,.fert16 h3 ,.address1 h3 ,.fert116 h3{
    font-size: 24px;
}
.fert5 p {
    font-size: 23px;
    margin-top: 2px;
    margin-left: 6px;
}
.fert16 p ,.fert116 p{
    font-size: 23px;
    margin-top: 2px;
    margin-left: 5px;
    color: green;
}
.fert01{
   margin-left: 50px;
   padding: 50px 70px;
}
.address1 h3{
  width:13rem;
  margin-top: 1.2rem;
}
.address1 p{
    font-size: 19px;
    margin-top: 5px;
    width:20rem;
}

/* -----------------/@media mobile screen/----------------------- */
@media screen and (max-width:400px){
    main{
        padding: 0;
    }
    .fert10{
        background-color:none;
        box-shadow:none;
        display: inline-block;
        padding:0;
    }
    .fert12 img{
        width:200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;;
        margin-top: 20px;
    }
    .fert01{
        margin-left:0px;
        padding: 20px
     }
     .fert13,.fert15 ,.fert16 ,.fert5 ,.fert116{
        margin-top: 15px;
    }
    .fert01 h2{
        font-size: 18px;
        text-align: center;
    }
.fert13 h3{
    font-size: 16px;
}
.fert13 p{
    font-size: 14px;
}
.fert14 p{
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.fert5 h3 ,.fert16 h3 ,.address1 h3 ,.fert116 h3{
    font-size: 17px;
}

.fert5 p {
    font-size: 18px;
    margin-top: 0;
    margin-left: 4px;
}
.fert16 p ,.fert116 p{
    font-size: 16px;
}
.address1 h3{
    width:50vw;
    margin-top:10px;
  }
  .address1 p{
      font-size: 15px;
      margin-top: 5px;
      /* width:70vw; */
  }
}