body{
    background-image: url(../images/background.webp);
    padding: 40px 100px 10px 470px;
    background-size: cover;
}
*{
    font-family: 'Lora', serif;
     }
.details{
        border: 2px solid rgb(22, 30, 36);
        width:540px;
        padding-left: 50px;
        padding-top: 20px;
        background:url(../images/screen.jpg);
        border-radius: 10px;
        padding-bottom: 50px;
}
.details label,.details h3{
    color:white;
    font-weight:  bold;
  }
label{
    font-size: 21px;
}
h3{
    font-size: 27px;
    margin-left:2.7rem;
}

form input{
    border: none;
    background:none;
    border-bottom: 2px solid white;
    color:white
}
input:focus-visible{
    outline: none;
}
#pincode{
    width:250px;
    height: 35px;
    margin-left:80px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#state{
    width:250px;
    height: 35px;
    margin-left:170px ;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#district{
    width:250px;
    height: 35px;
    margin-left:145px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#gstin{
    width:250px;
    height: 35px;
    margin-left:40px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}
#business_name{
    width:250px;
    height: 35px;
    margin-left:70px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#pan{
    width:250px;
    height: 35px;
    margin-left:40px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}
#business_type{
    width:250px;
    height: 35px;
    margin-left:79px ;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 17px; margin-bottom: 20px;
}

button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: bold;
    background:linear-gradient(rgb(20, 20, 20),rgb(49, 191, 174));
    color: white;
}
.btn1{
    margin-left: 170px;
}
button:hover{
    background:linear-gradient(black,rgb(255, 0, 68));
    border-radius: 13px;
    color:white;
    font-size: 22px;
    transform: scale(1.1);
    border: 2px solid red;
}
