*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    }
    main{
        display: flex;
        justify-content: center;
        padding: 70px 0px;
    }
    

    body .form{
        border:2px solid black;
        padding: 50px 100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgb(235, 233, 233);
    }
    .form h1{
    text-align: center;
    padding-bottom: 30px;
    }
    .form .form-control{
        width:370px;
        padding: 10px 20px;
        font-size: 18px;
        margin-right: 20px;
    }
    .form-group{
        padding: 20px 0;
        
    }
    label{
        font-size: 19px;
      
        
    }
    .btn1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn1 button{
        padding: 7px 45px;
        font-size: 18px;
        background: rgb(8, 8, 58);
        color: white;
        border:none
    }
    .btn1 button:hover{
        background: rgba(58, 58, 255, 0.888);
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .button_form{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    .form-group button{
        padding: 7px 50px;
        font-size: 17px;
        background: rgb(8, 8, 58);
        color: white;
        border:none
    }
    .form-group button:hover{
        background: rgba(58, 58, 255, 0.888);
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .form-group a{
        text-decoration: none;
        font-size: 18px;
        color:rgb(9, 9, 75);
        font-weight: bold;
    }
    .form-group a:hover{
        color: rgb(255, 0, 123);
    }
   
    .form-group textarea{
        font-size: 19px;
        padding:5px 10px 5px 15px;
        margin-right: 20px;

            /* resize: none; */
    }