main{
    background-color: white;
    display: flex;
    justify-content: center;
   align-items: center;
    margin: 90px 0;
    color: rgb(255, 255, 255);
 }
 :root{
     --my-profile-fontfamily:fontAwesome;
 }
 input{
    display: block;
 }
 .details{
     background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
     padding: 30px 120px 50px 100px;
     width:45rem;
 }
 .details h2{
     font-size: 30px;
     margin-left: 7rem;
     margin-bottom: 40px;
 }
 
 label{
     font-size: 18px;
 }

 #full_name{
    margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom: 40px;
     margin-right: 30px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
 }
 #gender{
     margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom: 40px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
 }
 #email{
    margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom:40px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
 }
 #mobile{
    margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom: 40px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
 }
 #street{
    margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom: 40px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
 }
 #city{
    margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom: 40px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
 }
 #district{
    margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom: 40px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
 }#state{
    margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom: 40px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
 }
 
 
 
 
 .button{
    justify-content: center;
  align-items: center;
     display: flex;
     margin: 50px 0 5px 100px;
 }
 .button button{
     padding: 10px 50px 10px 50px;
     margin-right: 90px;
     font-size: 18px;
     background-color: rgb(3, 4, 40);
     border-radius: 5px;
     color: white;
     font-weight: bold;
     border: none;
 }
 .button button:hover ,.btnn button:hover{
     background: linear-gradient(to top, #3830d0 0%, #330867 100%);
     color:white;
     transform: scale(1.02);
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .form1{
     display: flex;
     box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
     width:70.85rem;
 }
 
 #dobb{
    margin-left: 10.2rem;
     width:270px;
     height:35px;
     padding: 5px 10px 5px 10px;
     font-size: 17px;
     margin-bottom: 40px;
     margin-right: 30px;
     background-color: rgb(220, 243, 255);
     outline: none;
     border: none;
     border-bottom: 2px solid black;color: rgb(0, 0, 0);
     cursor: pointer;
 }