.img{
    display: flex;
    padding: 60px 10px 50px 35px;
}
.img img{
    width:330px;
    height: 400px;
    margin-left: 20px;
  
}
.fert{
    display: flex;
    padding: 50px 0px 55px 20px;

}
.fert img{
    width:500px;
    height: 500px;
   margin-left: 150px;
 
}
.fert img:hover ,.img img:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}
.nutri img{
    width: 700px;
    height:500px;
    margin: 50px 0px 100px 27px;
  
}
.nutri img:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }