main{
    background-color: rgb(220, 220, 220);
    padding: 100px 50px 100px 110px;
    margin-left: 0px;
}
.details{
    background: linear-gradient(-45deg,rgb(255, 225, 0), orange);
    padding: 30px 20px 50px 50px;
    width:38rem;
    margin-left: 5rem;
}
.details h2{
    font-size: 30px;
    margin-left: 7rem;
    margin-bottom: 40px;
}
label{
    font-size: 19px;
}
#full_name{
    margin-left: 80px;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: 14px;
    margin-right: 30px;
}
#gender{
    margin-left: 6.5rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: .1rem;
}
#email{
    margin-left: 6.2rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: 1.5rem;
}
#mobile{
    margin-left: 5.2rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
}
#door{
    margin-left: 2rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: 1.5rem; margin-right: 30px;
}
#pincode{
    margin-left: 6rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: .5rem;
}

#state{
    margin-left: 10.8rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: 1.5rem; margin-right: 30px;
}
#district{
    margin-left: 9.5rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
}
#pan{
    margin-left: 3.2rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
}
.button{
    margin-left: 4.5rem;
    margin-top: 30px;
    display: flex;
}
.button button{
    padding: 10px 50px 10px 50px;
    margin-right: 90px;
    font-size: 18px;
    background:linear-gradient(rgb(11, 79, 108),rgb(0, 0, 0));
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.button button:hover ,.btnn button:hover{
    background:linear-gradient(red,black);
    color:white;
    transform: scale(1.1);
}
.details1 img{
    width: 15rem;
    height: 15rem;
    margin-left: .8rem;
}
.form1{
    display: flex;
}
.details1{
    background-color:rgb(243, 164, 19);
    padding: 160px 30px 0px 30px;
}
.details1 h2{
    display: flex;
    margin-top: 2rem;
    margin-left: 1.8rem;
    margin-bottom: 15px;
}
.details1 p{
    color:white;
    margin-left: .5rem;
}
.details1 label{
    font-weight: bold;
}
#dobb{
    padding: .4rem .9rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: .7rem;
    border: none;
    border-bottom: 2px solid black;
}
.btnn {
    margin: 60px 0px 0px 70px;
}
.btnn button{
    font-size: 1.2rem;
    padding: .7rem 2.7rem;
    border-radius: 10px;
    border: none;
    background:linear-gradient(rgb(11, 79, 108),rgb(0, 0, 0));
    color:white
}