main{
   background-color: white;
    padding: 50px 50px 100px 160px;
    margin-left: 0px;
}
.details{
    background: linear-gradient(-45deg,rgb(254, 250, 227), rgb(249, 251, 219));
    padding: 30px 20px 50px 50px;
    width:38rem;
}
.details h2{
    font-size: 30px;
    margin-left: 7rem;
    margin-bottom: 40px;
}
label{
    font-size: 18px;
}
#full_name{
   margin-left: 8.2rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: 14px;
    margin-right: 30px;
}
#gender{
    margin-left: 9.5rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: .1rem;
}
#email{
    margin-left: 6.2rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: 1.5rem;
}
#mobile{
    margin-left: 5.2rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
}
#door{
    margin-left: 2rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: 1.5rem; margin-right: 30px;
}
#pincode{
    margin-left: 9.3rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: .5rem;
}

#state{
    margin-left: 10.9rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
    margin-bottom: 1.5rem; margin-right: 30px;
}
#district{
    margin-left: 9.6rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
}
#pan{
    margin-left: 6.7rem;
    width:270px;
    height:35px;
    padding: 5px 10px 5px 10px;
    font-size: 17px;
}
.button{
    margin-left: 4.5rem;
    margin-top: 30px;
    display: flex;
}
.button button{
    padding: 10px 50px 10px 50px;
    margin-right: 90px;
    font-size: 18px;
    background:linear-gradient(rgb(11, 79, 108),rgb(0, 0, 0));
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
}
.button button:hover ,.btnn button:hover{
    background:linear-gradient(red,black);
    color:white;
    transform: scale(1.1);
}
.details1 img{
    width: 15rem;
    height: 15rem;
    margin-left: .8rem;
}
.form1{
    display: flex;
    box-shadow: 0px 7px 16px 0px rgb(104, 104, 104);
    width:57.85rem;
}
.details1{
    background-color:rgb(232, 253, 255);
    padding: 160px 20px 0px 30px;
    width:400px;
}
.details1 h2{
    display: flex;
    margin-top: 2rem;
    margin-left: 1.8rem;
    margin-bottom: 15px;
}
.details1 p{
    color:rgb(62, 62, 62);
    margin-left: .5rem;
}
.details1 label{
    font-weight: bold;
    display: flex;
}
#dobb{
    padding: .4rem .9rem;
    border-radius: 10px;
    margin-left: .5rem;
    border: none;
    border-bottom: 2px solid black;
}
.btnn {
    margin: 60px 0px 0px 70px;
}
.btnn button{
    font-size: 1.2rem;
    padding: .7rem 2.7rem;
    border-radius: 10px;
    border: none;
    background:linear-gradient(rgb(11, 79, 108),rgb(0, 0, 0));
    color:white
}
form input{
    border: none;
    background:none;
    border-bottom: 2px solid rgb(0, 0, 0);
    color:rgb(17, 8, 48)
}
input:focus-visible{
    outline: none;
}