table, th, td {
    border: 1px solid  rgb(250, 249, 255);
    border-collapse: collapse;
    
  }
 main table caption{
    font-size: 44px;
    padding-bottom: 40px;
  
  }
  main{
    border: 2px solid rgb(231, 226, 226);
    background-color: rgb(255, 254, 254);
    min-height: 100vh;
   
  }
  table{
    background-color: rgb(255, 255, 255);
  }
  th{
    padding: 40px 20px;
    font-size: 23px;
    /* background-color: #2874f0; */
    background-color:#07357f ;
    color: white;
    font-weight: 300;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  td{
    font-size: 22px;
    width: 267px;
    padding: 25px 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: none;
   
  }

i{
padding-left:5px;
}
.td{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
td a{
    text-decoration: none;
}
td img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.eye a{
  color:rgb(11, 1, 62);
  font-size: 20px;
}
.eye a:hover{
  color:red
}
.mobile_order_page{
  display: none;
}
.fa-eye{
  margin-left: 5px;
}
.empty_order img{
  width:500px;
  height: 400px;
  margin: 100px 0 0 480px;
}
.empty_order button{
  background-color:rgb(3, 68, 3);
  border:none;
  font-size: 18px;
  color:white;
  padding: 10px 120px;
 border-radius: 10px;
margin-top: 50px;
 margin-left: 550px;
 font-weight: bold;
}
.empty_order button:hover{
  transition: .5s;
  background-color:rgb(11, 126, 42);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.orderAlign{
  display: flex;
  padding: 50px 80px 100px 80px;

}

@media screen and (max-width:400px){
  main{
    display: none;
  }
  .mobile_order_page{
    display:inline-block;
  }
  .mobile_order_page h2{
    font-size: 18px;
   text-align: center;
  }
  .mobile_order_content{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width:100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 10px;
  }
  .order_image img{
    width: 140px;
    height:140px;
    box-sizing: border-box;
  
  }
  .order_delivery_date p{
   font-size: 14px;
   padding: 5px 0;
  }
  .order_delivery_details a{
    color:black;
  }
}