.wishlist{
    
  margin:20px 70px 30px 70px;
}
.wishlist h2{
    font-size: 28px;
    padding: 10px 0px 10px 70px;
    margin-bottom: 20px;
}
.fertilizer{
    display: flex;
    margin: 20px 50px 25px 50px ;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.fert1 img{
    width: 220px;
    height: 220px;
    margin: 10px 100px 10px 200px;
    padding: 20px ;
    border-radius: 5px;
}
.fert1 img:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: scale(1.02);
}
.fert2 p{
 font-size: 20px;
 font-weight: bolder;
 width: 550px;
 padding: 100px 0px 0px 60px;
 color: rgb(113, 28, 44);
}
.fert2 p:hover{
    color: rgb(14, 118, 14);
}
.fert1 p:hover{
    color: rgb(14, 118, 14);
}
.fert1 a , .fert2 a{
    text-decoration: none;
}
#win{
    color:rgb(49, 5, 5);
    margin-left: 10px;
}
.remov{
    margin-left: 27rem;
    padding: .8rem 3rem;
    margin-top: 1rem;
    background-color: rgb(6, 6, 51);
    color:white;
    border-radius:5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
.remov:hover{
    background-color: rgb(4, 4, 105);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}