.wishlist{
    
  margin:20px 70px 30px 70px;
}
.wishlist h2{
    font-size: 34px;
    padding: 20px 0px 20px 70px;
    border-bottom: 6px solid rgb(23, 146, 59);
    margin-bottom: 30px;
}
.fertilizer{
    display: flex;
    margin: 20px 50px 25px 50px ;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 6px 15px 0px rgb(161, 161, 161);
}
.fert1 img{
  box-shadow: 0px 5px 10px 0px rgb(116, 116, 116);
    width: 280px;
    height: 280px;
    margin: 20px 100px 20px 200px;
    padding: 20px ;
    border-radius: 5px;
}
.fert2 p{
 font-size: 28px;
 font-weight: bolder;
 width: 550px;
 padding: 130px 0px 0px 60px;
 color: rgb(113, 28, 44);
}
.fert2 p:hover{
    color: rgb(14, 118, 14);
}
.fert1 p:hover{
    color: rgb(14, 118, 14);
}
.fert1 a , .fert2 a{
    text-decoration: none;
}
#win{
    color:red;
    margin-left: 10px;
}
.remov{
    margin-left: 27rem;
    padding: .8rem 3rem;
    margin-top: 3rem;
    background-color: rgb(6, 6, 51);
    color:white;
    border-radius: .8rem;
    font-size: 18px;
    font-weight: bold;
}
.remov:hover{
    background: linear-gradient(rgb(194, 8, 64),rgb(36, 35, 35));
    color:rgb(255, 255, 255);

}